#####################################################################
#	User Macros
#####################################################################

[gcode_macro PREHEAT_PLA]
gcode:
  M104 S210                       ; set extruder to 210C
  M140 S55                        ; set bed temp to 55C

[gcode_macro PREHEAT_ABS]
gcode:
  M104 S250                       ; set extruder to 250C
  M140 S100                       ; set bed temp to 100C

[gcode_macro HEAT_SPREAD]
gcode:
  STATUS_STANDBY                  ; turn on LEDs
  G28                             ; home all axes
  G0 Z5 F4000                     ; move Z to 5mm above buildplate
  G0 X60 Y60 F6000                ; move toolhead to center of build plate
  M140 S100                       ; set bed temp to 100C
  M106 S204                       ; turn on part cooling fans at 80%

[gcode_macro PARK]
gcode:
  STATUS_STANDBY
  G28 X120 Y120
  G0 X60 Y60 Z50 F2600

#####################################################################
#	Macros
#####################################################################


[gcode_macro _PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
#   ATR  _PRINT_START tool_temp=[first_layer_temperature] bed_temp=[first_layer_bed_temperature]
gcode:
    {% set MATERIAL = params.MATERIAL|default('ABS')|string %}
    {% if MATERIAL == "PLA" %}
        # SET_PRESSURE_ADVANCE ADVANCE=0.035 SMOOTH_TIME=0.040
        # SET_GCODE_OFFSET Z=-0.0
    {% elif MATERIAL == "PET" %}
        # SET_PRESSURE_ADVANCE ADVANCE=0.035 SMOOTH_TIME=0.040
        # SET_GCODE_OFFSET Z=0.0
    {% elif MATERIAL == "ABS" %}
        # SET_PRESSURE_ADVANCE ADVANCE=0.035 SMOOTH_TIME=0.040
        # SET_GCODE_OFFSET Z=0.0
    {% else %}
        # SET_PRESSURE_ADVANCE ADVANCE=0.035 SMOOTH_TIME=0.040
        # SET_GCODE_OFFSET Z=0.0
    {% endif %}
    {% set TARGET = params.TARGET | default(0) %}
    {% set PERIOD = (params.PERIOD | default(3) | int) %} ## minutes

    STATUS_STANDBY
    M117 Homing...                 ; display message
    G28
    M117 Z Tilt Adjust...
    Z_TILT_ADJUST

    G90 ; use absolute coordinates
    M83 ; extruder relative mode

    M117 Center toolhead
    G0 X90 Y90 Z5 F6000            ; center toolhead on build platform
    M106 S204                      ; turn on part cooling fans at 80%
    M117 Heating bed
    M140 S{ params.BED_TEMP }      ; set bed temp
    # HEAT_SPREAD
    M190 S{ params.BED_TEMP }      ; wait for bed temp
    M106 S0                        ; turn off part cooling fans
    G28 Z0                         ; home Z with bed up to temperature

    ;RESPOND TYPE=command MSG="will soak for { PERIOD }m"
    M117 Soaking for { PERIOD }m
    G4 P{ PERIOD * 1000 * 60 }

    M104 S150                      ; warm up nozzle
    M117 Mesh leveling...          ; display message
    ; G28                          ; home all without mesh bed level
    BED_MESH_CALIBRATE
    G0 X90 Y90 Z10 F18000          ; re-center toolhead

    M117 Heating Hotend...
    G1 X175 Y175 Z0.1 F4000        ; move to position to minimize oozing
    M104 S{ params.TOOL_TEMP }	   ; set extruder temp
    M109 S{ params.TOOL_TEMP }     ; wait for extruder temp

    M117 Priming ...
    G28
    G1 X2.0 Y8.0 F18000            ; go to edge of bed
    G1 Z0.2 F5000                  ; lower nozzle
    G92 E0.0
    G1 X40.0 E7.0 F1000.0          ; intro line
    G1 X80.0 E8.0 F1000.0          ; intro line
    G92 E0.0

    STATUS_READY
    M117                           ; clear display message
    G1 Z1 F5000                    ; lift nozzle
   
[gcode_macro _PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G91                            ; relative positioning
    G0  Z20 F3600                  ; lift nozzle
    G90                            ; absolute positioning
    G0 X175 Y175                   ; move printhead out of the way
    ;G28 Y120                      ; home y axis
    M84                            ; disable motors
    STATUS_STANDBY


;    #   Get Boundaries
;    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
;    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
;    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
;    {% if printer.toolhead.position.x < (max_x - 20) %}
;        {% set x_safe = 20.0 %}
;    {% else %}
;        {% set x_safe = -20.0 %}
;    {% endif %}

;    {% if printer.toolhead.position.y < (max_y - 20) %}
;        {% set y_safe = 20.0 %}
;    {% else %}
;        {% set y_safe = -20.0 %}
;    {% endif %}

;    {% if printer.toolhead.position.z < (max_z - 2) %}
;        {% set z_safe = 2.0 %}
;    {% else %}
;        {% set z_safe = max_z - printer.toolhead.position.z %}
;    {% endif %}

;    G0 Z{z_safe} F3600             ; move nozzle up
;    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
;    TURN_OFF_HEATERS
;    M107                           ; turn off fan
;    G90                            ; absolute positioning
;    G0 X60 Y{max_y} F3600          ; park nozzle at rear
	
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   G1 E-3 F200                    ; retract a little to minimize oozing
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E6 F300                     ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute
