# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design Trident 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

# Mainsail settings
[include mainsail.cfg]
[include stealthburner_leds.cfg]
[include macros.cfg]
[include displays.cfg]
[include MicroProbe.cfg]
#[include PIS.cfg]
#[include adxl.cfg]
#[include 9250.cfg]

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##  Obtain UART address by "dmesg | grep tty"
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2A003B000F504B4633373520-if00
# serial: /dev/ttyAMA0
# serial: /dev/serial0
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 5000
max_z_velocity: 70
max_z_accel: 2000
square_corner_velocity: 4.0

[force_move]
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.
enable_force_move: true

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  A Stepper - Right
[stepper_x]
step_pin: PE2
dir_pin: !PB4
enable_pin: !PC11
rotation_distance: 32
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PF3
position_min: -5
position_endstop: 191.7
position_max: 192
homing_speed: 80   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC10
interpolate: False
run_current: 0.9
# hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0 # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle


##  B Stepper - Left
[stepper_y]
step_pin: PF12
dir_pin: !PF11
enable_pin: !PB3
rotation_distance: 32
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PF4
position_min: -4
position_endstop: 180
position_max: 181
homing_speed: 80  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PF13
interpolate: False
run_current: 0.9
# hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0 # 999999


#[input_shaper]
#shaper_freq_x: 50.5  # frequency for the X mark of the test model
#shaper_freq_y: 68.6  # frequency for the Y mark of the test model

#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
[stepper_z]
step_pin: PD7
dir_pin: !PD6
enable_pin: !PF10
rotation_distance: 32
gear_ratio: 50:17
microsteps: 16
endstop_pin: probe:z_virtual_endstop
# position_endstop = 0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_max: 195
position_min: -1.5
homing_speed: 50.0 
second_homing_speed: 10
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PF9
interpolate: False
run_current: 0.5
# hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
[stepper_z1]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD5
rotation_distance: 32
gear_ratio: 50:17
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PD4
interpolate: False
run_current: 0.5
# hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PC9
dir_pin: PC8
enable_pin: !PD1
rotation_distance: 32
gear_ratio: 50:17
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PD0
interpolate: False
run_current: 0.5
# hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0
[extruder]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA15
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 4.637  # orbiter motor LDO-36STH20-1004AHG(XH)
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
# gear_ratio: 50:17               #BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PE3
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Trianglelab NTC100K B3950
# sensor_type: ATC Semitec 104GT-2
sensor_pin: PA1
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control: pid
#pid_kp: 26.213
#pid_ki: 1.304
#pid_kd: 131.721
##  Try to keep pressure_advance below 1.0
pressure_advance: 0.045
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

[thermistor Trianglelab NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
#[tmc5160 extruder]
[tmc2209 extruder]
uart_pin: PF8
interpolate: False
run_current: 0.5
# hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0 # 999999


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PB7
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: EPCOS 100K B57560G104F
# sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[verify_heater heater_bed]
heating_gain: 1
check_gain_time:120
hysteresis: 10
max_error: 130

#####################################################################
#   Probe
#####################################################################

[probe]
#x_offset: 0
#y_offset: 25.0
#z_offset: 0
#speed: 15.0
#;z_hop: 3
#;z_hop_speed:40.0
#lift_speed: 40.0
#samples: 2
#samples_result: median
#sample_retract_dist: 2.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 3

#####################################################################
#	Thermistor for ambient temperature
#####################################################################

#[temperature_sensor chamber]
# sensor_type: ATC Semitec 104GT-2  # reads about 10 C low
#sensor_type: NTC 100K MGB18-104F39050L32
# sensor_type: Trianglelab NTC100K B3950
# sensor_type: Generic 3950  # fluctuates a lot around 50 C
#sensor_pin: PF5 # T1

#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN1
pin: PE0
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN0
pin: PE6
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[heater_fan controller_fan]
##  Controller fan - FAN2
pin: PC12
kick_start_time: 0.5
heater: heater_bed
heater_temp: 20
#max_power: 0.6
fan_speed: 0.4

#[heater_fan exhaust_fan]
##  Exhaust fan - FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################

#[output_pin caselight]
# Chamber Lighting - HE2 Connector (Optional)
#pin: PB10
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of spherical bearings

z_positions:
    -15.8, 7.0
    90, 187.0
    196.4, 7.0
points:
    5, 5
    90, 150
    175, 5

speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075


[menu __main __control __z_tilt]
type: command
enable: {not printer.idle_timeout.state == "Printing" and ('z_tilt' in printer)}
name: Z Tilt
gcode: Z_TILT_ADJUST


[bed_mesh]
speed: 300
horizontal_move_z: 6

mesh_min: 10, 27
mesh_max: 170,180

fade_start: 0.6
fade_end: 3.0
probe_count: 4,4
algorithm: bicubic
relative_reference_index: 8

